.containerMap {
 display: flex;
}

.map {
  height: 65vh;
  width: 70vw;
  margin-right: 3vw;
  font-size: 1em;
  border-radius: 10px;
  border: solid 3px black;
  overflow: hidden;
}

.list {
  height:100%;
  width: 21vw;
   border-radius: 10px;
  border: solid 3px black;
  background-color: white;
}
.poi {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
  position: absolute;
  

}

.poi_name {
  font-weight: 600;
  margin: 0.5rem 0rem;
}

.poi_category {
  font-style: italic;
}

.poi_address {
  padding: 0 .3rem;
}

.poi_url {
  color: navy;
  cursor: pointer;
  max-width: 190px;
  padding: .3em;
}


.identity_button {
  height: 20px;
  border: none;
  color: white;
  background-color: hsl(210, 12%, 15%);flex: 40px;
  cursor: pointer;
}

.identity_button:hover {
  background-color: hsl(210, 12%, 25%);
}