.containerMap {
 display: flex;
}

.map {
  height: 65vh;
  width: 70vw;
  margin-right: 3vw;
  font-size: 1em;
  border-radius: 10px;
  border: solid 3px black;
  overflow: hidden;
}

.list {
  height:65vh;
  width: 20vw;
   border-radius: 10px;
  border: solid 3px black;
}
.poi {
  background-color: white;
  min-width: 200px;
  width: auto;
  height: 250px;
  border: solid 2px black;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  margin: 1rem;
  padding: 1.5rem;

}

.poi_name {
  font-weight: 600;
  margin: 0.5rem 0rem;
}

.poi_category {
  font-style: italic;
}

.poi_address {
  padding: .1rem;
}

.poi_url {
  color: navy;
  cursor: pointer;
  max-width: 190px;
}
