.detailPage {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.identity {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  background-color: white;
  max-width: 400px;
  border: solid 3px black;
  border-radius: 5px;
}

.identity_image {
  margin: .4em;
  border-radius: 5px;
}
.identity_item {
  margin: .4em 1em;
  font-size: 0.8rem;
  text-align: left;
}

.identity_button {
  flex: 40px;
  margin: 5px;
  padding: 5px 10px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.identity_button:hover {
  background-color: hsl(210, 12%, 25%);
}