.container {
  font-size: 1.1rem;
  font-weight: 800;
  padding: 1rem;
}

li {
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dog_image {
  width: 420px; 
  height: auto;
  border-radius: 5px;
  border: solid 3px black;
  margin-bottom: -1em;
}