.container {
  font-size: 1.1rem;
  font-weight: 800;
  padding: .5rem;
}

li {
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.dog_image {
  width: 420px; 
  height: auto;
  border-radius: 5px;
  border: solid 3px black;
  margin-bottom: .5em;
}

p {
  font-size: small;
  font-weight: 400;
  
}