.edit {
  display: flex;
}

.list_item_button {
  flex: 40px;
  margin: 5px;
  padding: 5px 10px;
  color: white;
  background-color: black;
  border: none;
}

.list_item_button:hover {
  background-color: hsl(210, 12%, 25%);
}