.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  border-bottom: solid 1px rgb(165, 165, 165);
}

.card {
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
}

.image {
  height: 160px;
  width: auto; 
}