.navigation {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  background-color: black;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-decoration: none;
  color: gray;
  font-size: 2.5rem;
  padding: 3rem;
}

a:hover {
  color: white;
}