.list {
 margin: 2rem;
 width: 800px;
}

.list_item {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  text-align: left;
  border-top: 1px solid lightgrey;
}

.list_item_title {
  flex: 350px;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

.list_item_description {
  flex: 350px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
}

.list_item_button {
  flex: 40px;
  margin: 5px;
  padding: 5px 10px;
  color: white;
  background-color: black;
  border: none;
}

.list_item_button:hover {
  background-color: hsl(210, 12%, 25%);
}

